__pycache__/
*.ckpt
*.pth
*.whl
*.onnx
*.zip

data/
exps/
*.sh
!install_env.sh

weights/
temp/
results/
.ipynb_checkpoints/
TODO.txt
deprecated/
temp_scripts/
.vscode/
runs/
tests/
meta_files/
train_log/
VGGface2_HQ/
inputs/
llava/
models/
train_checkpoints/
validate_metrics/
inputs/
AAAI/
bisenet/
CVPR/
ICLR/
val/
ram/
scripts/